pre {
    padding: 20px 60px 20px 20px;
    overflow: auto;
}

button.copy-code-block {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}

.pre-wrapper:hover button.copy-code-block {
    display: block;
}

.snippet-action {
    padding-bottom: 10px;
}

.pre-wrapper {
    background-color: #f3f3f3;
    min-height: 51px;
}

pre code {
    min-height: 1em;
    display: inline-block;
}